*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
/* html { overflow-x: hidden; height: 100%; } */

body {
  /* overflow: hidden;  */
  width:100%;
    /* feel free to change height */
    height: 100%;
    background: linear-gradient(  to bottom,  white, black );      
    background-color: white;
    /* overflow-y: scroll; */
    scroll-behavior: smooth;
    overscroll-behavior:none;    
  }

  /* html, body { overflow: hidden; height: 100% } */

  main{
    width:100%;
    height:6000px;   
    scroll-behavior: smooth;
    overscroll-behavior:none;   
  }

  footer{
    width:100%;
    height:5vh;
    background-color: lightgrey;
    position:fixed;
    bottom:0;
  }

  section#graphic {
    /* width: 100vw; */
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    margin-top:auto;
  }

  #myContainerId{
    margin: 0 auto;  
    height: 50%;
    position: relative;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
  }

  #animation{
    position:relative;
    margin:auto;
    width:300px; 
    height:100%;
  }

  #leaves-ref{
    width: 3px;
    height: 100%;
    position: fixed;
    left: 50%;
    transform: translateX(50%);
    /* background-color: red; */
  }

  
  #leaf{    
    height:6%;
    /* max-width:30px;
    height:auto; */
    /* height:20%; */
    /* height:60px; */
    position:absolute;
    top:60%;
    right: 1px;
    /* transform: translate(-50%,-50%) ; */
    transform-origin: 150% 0px;
  }


  #leaf2{       
    height:6%;
    /* height:auto; */
    /* height:20%; */
    position:absolute;
    top:50%;
    left:4px;
    /* transform: translate(-50%,-50%) ; */
    transform-origin: 0% 0px;
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s ;
  }

   
  h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    letter-spacing: 5px;
    font-weight: 100;
    padding: 25px 15px;
    text-shadow: 1px 1px 1px #333;
  }  
  
  /* svg{
    background: none;
  } */



   .popup{
    opacity:0;    
    transition: all 1s;    
  }

  .fadeIn{       
    transition: all 1s;
    animation: bouncing 4s infinite;
    -webkit-animation: bouncing 4s infinite; 
  }

  @keyframes bouncing {
    0%,100%{opacity:0;margin-top:0;transform: translateX(0) ;}
    60%{opacity:.9;margin-top:18px;transform: translateX(30%);}   
  }

  @-webkit-keyframes bouncing {
    0%,100%{opacity:0;margin-top:0;}
    60%{opacity:.9;margin-top:18px;}   
  }

  .left {
    border-radius: 50%;
    top:0%;
    left:40px;
    width:30px;
    height:30px;
    background:rbga(255,0,0,.8);
    -webkit-box-shadow:0 0 20px #f94144; 
    -moz-box-shadow: 0 0 20px #f94144; 
    box-shadow:0 0 20px #f94144;
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
  }
  

  .right {
    border-radius: 50%;
    top:20%;
    right:60px;
     width:20px;
     height:20px;
     background-color:yellow;
     -webkit-box-shadow:0 0 20px  #fee440; 
     -moz-box-shadow: 0 0 20px  #fee440; 
     box-shadow:0 0 20px #fee440;
  }

  
  .rotation{
    animation: rotate .7s ease-in 1;
    -webkit-animation: rotate .7s ease-in 1;   
  }
  
  
  /* @keyframes rotate{
    0%,100%{transform: translate(-50%,-50%) rotate(0deg);}
    20%{transform: translate(-50%,-50%) rotate(20deg);}
    50%{transform: translate(-50%,-50%) rotate(-2deg);}
    40%,70%{transform:translate(-50%,-50%)  rotate(5deg);}
    80%{transform: translate(-50%,-50%) rotate(7deg);}
  }
  
  
  @-webkit-keyframes rotate{
    0%,100%{transform: translate(-50%,-50%) rotate(0deg);}
    20%{transform: translate(-50%,-50%) rotate(20deg);}
    50%{transform: translate(-50%,-50%) rotate(-2deg);}
    40%,70%{transform:translate(-50%,-50%)  rotate(5deg);}
    80%{transform: translate(-50%,-50%) rotate(7deg);}
  } */


  @keyframes rotate{
    0%,100%{transform:  rotate(0deg);}
    20%{transform: rotate(20deg);}
    50%{transform:  rotate(-2deg);}
    40%,70%{transform:  rotate(5deg);}
    80%{transform: rotate(7deg);}
  }
  
  
  @-webkit-keyframes rotate{
    0%,100%{transform: rotate(0deg);}
    20%{transform:  rotate(20deg);}
    50%{transform: rotate(-2deg);}
    40%,70%{transform:  rotate(5deg);}
    80%{transform:  rotate(7deg);}
  }